
<style>

  .container-div {
   width: 100%;
  
  }
  
  .second-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  .column-one {
    width: 50%;
    padding: 100px;
  }
  
  .column-one,
  .first-text,
  .column-two {
    display: flex;
    flex-direction: column;
  }
  
  
  .resume,
  .resume-subtitle {
    color: rgb(218, 182, 67);
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .resume-title {
    color: rgb(19, 0, 63);
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .resume-text {
    color: rgb(35, 0, 117);
    margin-bottom: 10px;
  }
  
  
  .img-second-column,
  .text-second-column {
     margin-bottom: 10px;
  }
  
  @media screen and (max-width: 575px) { 
    .column-one {
      width: 100%;
      padding: 10px;
      padding-top: 100px;
    }

  }

  
  </style>
  
  <div class="second-div container-div">
    <div class="column-one">
      <div class="first-text">
        <span class="resume-title">Direito Bancário</span>
        <span class="resume-text">No Brasil, especialmente a partir de 1986/87, quando o Banco do Brasil S/A deixou de movimentar a conta do Tesouro Nacional, e foi autorizado a ingressar no mercado bancário de forma mais abrangente, ocorreram importantes implementações de produtos novos no segmento financeiro, aos quais, o público brasileiro ainda não tinha acesso facilitado.</span>
        <span class="resume-text">Com a crescente impulsão e popularização do mercado financeiro, além dos produtos de renda fixa, cheque especial e poupança, surgem mais acentuadamente o cartão de crédito e débito, os seguros ficam mais popularizados, além do seguro de automóvel, ampliando-se o leque para seguro de vida, acidente pessoais e seguros residenciais. Também os produtos de aplicação em capitalização, bolsa de valores, além dos mecanismos de financiamentos e aplicações, se tornam mais automatizados, e trazem mais autonomia decisória da clientela em geral.</span>
        <span class="resume-text">A partir de então, por exemplo, o cliente passou a retirar talões de cheques, contratar empréstimos, efetuar saques, investimentos e outras operações por intermédio direto de terminais eletrônicos, e em alguns casos, através de pedidos no sistema remoto do telefone ou rede de computadores.</span>
        <span class="resume-text">Em 1990, com o advento do Código de Defesa do Consumidor, Lei 8.078, as Instituições Financeiras relutaram em compreender que estivessem também sob a égide desta Lei, no que tange as diretrizes, eventuais penalidades e condutas previstas, entendendo que deveriam ser reguladas pelo Banco Central do Brasil, autarquia federal responsável pela normatização e fiscalização do setor bancário.</span>
        <span class="resume-text">No meio desta discussão, em 2002, o Superior Tribunal de Justiça define que as Administradoras de Cartões de Crédito ficam equiparadas as Instituições Financeiras para todos os efeitos legais, o que também se relacionava a questão da taxa de juros e outras que, corriqueiramente, eram, e continuam, sendo analisadas diariamente pelo Judiciário.</span>
        <span class="resume-text">O fato é que, tornou-se pacífico o entendimento jurídico de que as Instituições Financeiras, inclusive as equiparadas, devem também se vincular e atender ao Código de Defesa do Consumidor, cumprindo as regras ali estabelecidas no fornecimento de seus produtos e na prestação de seus serviços.</span>
        <span class="resume-text">No nível nacional é consolidado o entendimento de que as Instituições Financeiras, tal como outro fornecedor, é responsável pelo produto oferecido em suas “prateleiras”, em conjunção com os demais integrantes da rede de fornecimento. Assim, se determinado Banco oferece um seguro nas suas dependências ou sob seus auspícios, tanto através de seus empregados ou terceiros contratados para tanto, mesmo que o seguro vendido seja da Instituição vendedora, ou até de uma Seguradora externa, a responsabilidade sobre qualquer vício do produto é solidária, conforme prevê o CODECON no seu artigo 19, no que inclui o Banco que vende o produto.</span>
        <span class="resume-text">Outra questão que tem apresentado muito questionamento e discussão  é quanto os aspectos de segurança e clareza da informação ao consumidor, bem como eventual indução a contratação indevida de serviços. Isto porque, o artigo 6º. define que são direitos básicos do consumidor, dentre outros:</span>
        <span class="resume-text">Art. 6º São direitos básicos do consumidor:</span>
        <span class="resume-text">I - a proteção da vida, saúde e segurança contra os riscos provocados por práticas no fornecimento de produtos e serviços considerados perigosos ou nocivos;</span>
        <span class="resume-text">II - a educação e divulgação sobre o consumo adequado dos produtos e serviços, asseguradas a liberdade de escolha e a igualdade nas contratações;</span>
        <span class="resume-text">III - a informação adequada e clara sobre os diferentes produtos e serviços, com especificação correta de quantidade, características, composição, qualidade e preço, bem como sobre os riscos que apresentem;</span>
        <span class="resume-text">IV - a proteção contra a publicidade enganosa e abusiva, métodos comerciais coercitivos ou desleais, bem como contra práticas e cláusulas abusivas ou impostas no fornecimento de produtos e serviços;</span>
        <span class="resume-text">V - a modificação das cláusulas contratuais que estabeleçam prestações desproporcionais ou sua revisão em razão de fatos supervenientes que as tornem excessivamente onerosas;</span>
        <span class="resume-text">VI - a efetiva prevenção e reparação de danos patrimoniais e morais, individuais, coletivos e difusos;</span>
        <span class="resume-text">VII - o acesso aos órgãos judiciários e administrativos com vistas à prevenção ou reparação de danos patrimoniais e morais, individuais, coletivos ou difusos, assegurada a proteção Jurídica, administrativa e técnica aos necessitados;</span>
        <span class="resume-text">VIII - a facilitação da defesa de seus direitos, inclusive com a inversão do ônus da prova, a seu favor, no processo civil, quando, a critério do juiz, for verossímil a alegação ou quando for ele hipossuficiente, segundo as regras ordinárias de experiências;</span>
        <span class="resume-text">IX - a adequada e eficaz prestação dos serviços públicos em geral.</span>
        <span class="resume-text">Quanto à propaganda enganosa, indução a erro, bem como as eventuais contratações “casadas” (operações que obrigam o consumidor a contratar outro produto simultaneamente), são objeto nos artigos 37 Parágrafos Primeiro/Terceiro, e 39 especialmente nos Incisos de I a V.</span>
        <span class="resume-text">Ressaltem-se estes artigos porque pela automação disponível, seja no terminal bancário que oferece dezenas de opções, seja via sistema telefônico ou Internet, cada vez mais as Instituições Financeiras necessitam ampliar o rol de informações, exatamente para que tenha clareza cristalina as normas, os direitos e deveres vinculados a determinado produto ou serviço oferecido.</span>
        <span class="resume-text">Também na preocupação de oferecer melhor serviço, as Instituições Financeiras devem buscar, cotidianamente, qualificar seus sistemas e dispositivos de segurança nas diversas frentes de negócio, visto que, apesar da minimização de custos na área de recursos humanos pela automação crescente, devem ser realocados em investimentos, principalmente na fácil visualização, compreensão e acesso ao serviço, bem como nos instrumentos de segurança das ofertas automatizadas, tanto para maior qualidade na prestação dos serviços quanto menor número de litígios, o que certamente resultará na expressividade e aceitação da Instituição Financeira no mercado.</span>
        
      </div>      

      <div class="first-text">
        <span class="resume-title">Direito Imobiliário</span>
        <span class="resume-text">O direito imobiliário pode ser entendido como um ramo do direito privado responsável por estabelecer as regras que regem as relações que envolvem a aquisição e a perda da propriedade, a posse, a locação, o usucapião, as incorporações imobiliárias, o condomínio, a doação e a cessão de direitos, financiamentos da casa própria, o direito de construir, o direito de vizinhança, o registro de imóveis e outros institutos jurídicos relacionados ao bem imóvel.</span>
        <span class="resume-text">O fundamento do direito imobiliário, portanto, está no direito de propriedade. Assim, o direito imobiliário vai envolver tanto as fases anteriores à aquisição, como compra, financiamento, usucapião, quanto o exercício da propriedade, como direito de construir, locação, direito de vizinhança, venda, condomínio, entre outros.</span>
        <span class="resume-text">Trata-se, portanto, sobre o que pode ser feito com o bem imóvel por parte de seu proprietário.</span>
        <span class="resume-text">Diante dessa diversidade de matérias existe, também, uma diversidade de leis que envolvem o ramo do direito imobiliário.</span>
        <span class="resume-text">A mais importante delas é o Código Civil, sobretudo no capítulo referente aos direitos reais. Ali estão as determinações legais sobre propriedade, posse, vizinhança, condomínio, entre outros. Além da parte que trata de contratos, que é extremamente importante para a conclusão dos negócios.</span>
        <span class="resume-text">Entre as leis esparsas importantes para esse ramo temos a Lei nº 8.245/91, que trata das locações de imóveis urbanos e a Lei nº 4.594/64, que regula a profissão do corretor de seguros. E também a Lei nº 4.380/64, que regula o sistema financeiro de habitação e a Lei nº 6.015/73, que trata dos registros públicos.</span>
        <span class="resume-text">Além dessas leis, o Código de Defesa do Consumidor também se mostra importante para o direito imobiliário, na medida em que protege o consumidor contra cláusulas abusivas e contra possíveis manobras que possam prejudicar o cliente. Assim como também se mostra importante o conhecimento de direito empresarial, urbanístico, ambiental e tributário, de acordo com a área de atuação do profissional.</span>
      </div>

      <div class="first-text">
        <span class="resume-title">Matrícula</span>
        <span class="resume-text">A matrícula é exatamente a folha de papel com a numeração única que representa o imóvel. Para que haja validade, a matrícula deve estar arquivada no Cartório de Registro de Imóvel do município correspondente.</span>
        <span class="resume-text">Assim, cada imóvel deve ter a sua matrícula no Cartório de Registro de Imóveis da sua cidade. É a matrícula que comprova a propriedade do bem imóvel.</span>
        <span class="resume-text">Cada matrícula contém as informações referentes ao imóvel, de modo a especificá-lo e individualizá-lo. Entre essas informações, destacam-se á área onde o imóvel está localizada, seus limites, os vizinhos, o endereço e a inscrição municipal.</span>
        <span class="resume-text">É claro que essas especificações podem sofrer variações de acordo com o tipo de imóvel. Nesse sentido, um imóvel rural costuma conter especificações como o nome da fazenda e as áreas fronteiriças que, muitas vezes, são rios e árvores. Já um imóvel urbano, como um apartamento, deve ter especificações como o endereço completo, incluindo nome do edifício e número do apartamento. Isso tudo além do tamanho da área, seja em alqueires, como imóvel rural, seja em metros quadrados, como normalmente são os imóveis urbanos.</span>
        <span class="resume-text">Além da identificação do imóvel, ficam registrados os dados do proprietário atual, assim como de todos os proprietários sucessores, demonstrando o caminho percorrido até se chegar na atualidade.</span>
        <span class="resume-text">Após a identificação do imóvel, são registrados todos os atos produzidos anteriormente, como compra e venda, doação, desmembramento, promessa de compra e venda, assim como as penhoras e hipotecas.</span>
        <span class="resume-text">Importante ressaltar que nenhum dado é apagado do registro, a matrícula é apenas atualizada de acordo com a nova condição.</span>
        <span class="resume-text">A matrícula é, portanto, uma espécie de carteira de identidade do imóvel, mas com ainda mais informações sobre suas características e seu histórico.</span>
        <span class="resume-text">Além disso, a matrícula é um documento público, o que significa que ela pode ser vista por qualquer pessoa, assim como qualquer pessoa pode solicitar no cartório uma certidão sobre o que consta em seu registro. Em razão disso, as informações ali contidas têm efeito erga omnes, ou seja, são oponíveis a qualquer pessoa, e não apenas às partes interessadas.</span>
      </div>

      <div class="first-text">
        <span class="resume-title">Compra e Venda</span>
        <span class="resume-text">Até a formalização da compra e venda de imóvel, vendedor e possível comprador podem optar por assinar contratos prévios ou apenas o próprio contrato de compra e venda. Como o conhecimento sobre a aquisição do imóvel é fundamental para o próprio direito imobiliário, vale a pena ver quais são esses contratos.</span>
        <span class="resume-text">Esse contrato, no entanto, não pode ser registrado na matrícula do imóvel, uma vez que a Lei de Registros Públicos somente admite registros e averbações dos atos previstos em seu artigo 167 e, entre eles, não se encontra o contrato de opção de venda. Todavia, o contrato pode ser registrado no Cartório de Notas.</span>
        <span class="resume-text">Na vigência desse prazo, o proprietário fica impedido de vender o imóvel a um terceiro, sob pena de pagamento de multa. A ideia é conferir ao possível comprador a preferência para a compra do bem, desde que realizada dentro daquele período.</span>
        <span class="resume-text">Em geral, o comprador se vale desse prazo para, justamente, pesquisar as condições do imóvel no que tange a questões imobiliárias, urbanísticas, ambientais, fiscais, enfim, para fazer a due diligence.</span>
        <span class="resume-text">Expirado o prazo sem que o interessado tenha exercido a opção de compra, o contrato perde seus efeitos e o proprietário se torna livre para vender o bem para outra pessoa.</span>
      </div>

      <div class="first-text">
        <span class="resume-title">Promessa de compra e venda</span>
        <span class="resume-text">O contrato de promessa de compra e venda também é um contrato preliminar, porém típico, ou seja, o Código Civil prevê esse modelo contratual.</span>
        <span class="resume-text">Trata-se, portanto, de um contrato preliminar por meio do que o proprietário promete a venda e o comprador promete a compra do bem, a ser realizada futuramente. Mas não se trata de mera opção, em que o possível comprador tem a preferência pela compra, mas sim de um compromisso assumido entre as partes de que o negócio será fechado dentro de um determinado período.</span>
        <span class="resume-text">Caso o contrato não pactue o direito de arrependimento pelas partes, o possível comprador adquire direito real à aquisição do imóvel. Assim, caso o proprietário não cumpra o pactuado, o comprador pode ajuizar ação para que seja concluída a venda.</span>
        <span class="resume-text">No entanto, caso o contrato dê o direito de arrependimento às partes, aquele que não cumpre a sua parte, ou seja, aquele que desista de vender ou de comprar, será penalizado. Em geral, essa penalização é na forma de pagamento de multa e, eventualmente, indenização por perdas e danos.</span>
        <span class="resume-text">Embora a finalidade desse contrato seja produzir efeitos apenas entre as partes envolvidas, ele pode ser levado a registro na matrícula do imóvel e, assim, produzir efeitos também para terceiros.</span>
        <span class="resume-text">Interessante pontuar que o contrato de promessa de compra e venda não confere direito de uso e gozo por parte do promitente comprador, somente de aquisição do imóvel.</span>
      </div>

      <div class="first-text">
        <span class="resume-title">Contrato particular de compra e venda</span>
        <span class="resume-text">O contrato de compra e venda é um instrumento contratual privado por meio do qual uma parte se obriga a transferir a sua propriedade a outra pessoa, mediante contraprestação.</span>
        <span class="resume-text">A simples celebração desse contrato pode significar a efetivação do negócio. Isso porque em algumas situações, o contrato de compra e venda não é suficiente para concluir a transferência do bem.</span>
        <span class="resume-text">Ele somente efetiva a transferência do bem quando, devidamente registrado no cartório de registro de imóveis, o valor do bem for igual ou inferior a 30 salários mínimos ou quando se tratar de imóvel financiado pelo Sistema Financeiro de Habitação e Sistema Financeiro Imobiliário. Nesse último caso, o contrato particular terá força de escritura pública.</span>
        <span class="resume-text">Em geral, o contrato com força de escritura pública está vinculado a um financiamento bancário. Em razão disso, o promitente comprador é apenas imitido na posse do bem, mas permanece em débito com a instituição bancária financiadora que, por sua vez, já concluiu o negócio com o comprador, liberando-o de qualquer ligação com o imóvel. A instituição financeira, portanto, tem o próprio bem como garantia pelo pagamento do financiamento, em geral pelo instituto da alienação fiduciária.</span>
        <span class="resume-text">Nos demais casos, o contrato de compra e venda não é suficiente, sendo necessário lavrar a Escritura Pública de compra e venda para a transferência do bem ao comprador.</span>
      </div>

      <div class="first-text">
        <span class="resume-title">Escritura de compra e venda</span>
        <span class="resume-text">A Escritura de compra e venda é um documento público, lavrado no Cartório de Notas, pelo tabelião. Ela é, portanto, o documento apto a ser registrado no cartório de registro de imóveis para efetivar a transferência da propriedade do bem.</span>
        <span class="resume-text">Na Escritura, o tabelião registra a vontade das partes em realizar o negócio e atesta sua validade, eficácia e autenticidade, confirmando, assim, sua conformidade com os requisitos de um negócio jurídico.</span>
        <span class="resume-text">A Escritura é o documento definitivo na transferência da propriedade do bem, assim como para a modificação, constituição e renúncia de direitos reais.</span>
        <span class="resume-text">Ela pode ser lavrada em dois caracteres distintos, prosoluto e prosolvendo.</span>
        <span class="resume-text">Lavrada em caráter prosoluto, consta a declaração de quitação total do valor do bem, impossibilitando a rescisão do contrato por alegação de falta de pagamento. Já lavrada em caráter prosolvendo, constará a forma de pagamento, incluindo suas parcelas e seus prazos para quitação, conferindo ao vendedor a possibilidade de rescindir o contrato em caso de inadimplência.</span>
        <span class="resume-text">Uma vez lavrada a Escritura de compra e venda no Cartório de Notas, basta o comprador apresentá-la no Cartório de Registros de Imóveis, onde o bem está matriculado, para atualizar o registro com o nome e os dados do novo proprietário.</span>
      </div>

            <span class="resume-text">Fontes:</span>
        <span class="resume-text">https://www.coladaweb.com/direito/ramos-do-direito</span>
        <span class="resume-text">https://www.infoescola.com/direito/direito-do-consumidor-bancario/</span>
        <span class="resume-text">https://blog.juriscorrespondente.com.br/guia-completo-sobre-direito-imobiliario/</span>
      </div>
    </div>

  