
<style>

  .container-div {
   width: 100%;
  
  }
  
  
  .second-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  
  .footer-wraper {
    display: flex;
  }
  
  .column-one {
    width: 100%;
    padding: 100px;
  }
  
  .boxes,
  .column-one,
  .first-text,
  .profile-text,
  .secondary-boxes {
    display: flex;
    flex-direction: column;
  }
  
  .box-grid {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .boxes {
    width: 20%;
    padding: 10px;
    margin: 10px;
    background: white;
    -webkit-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
border-radius: 10px;
border-bottom: 3px solid rgb(218, 182, 67);
  }
  
  .resume,
  .resume-subtitle {
    color: rgb(218, 182, 67);
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .resume-title {
    color: rgb(19, 0, 63);
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .resume-text {
    color: rgb(35, 0, 117);
    margin-bottom: 10px;
  }
  
  .img-info,
  .box-text,
  .box-title,
  .text-second-column,
  .footer-wraper {
    margin-bottom: 10px;
    color: rgb(19, 0, 63);
  }
  
  .footer-wraper {
    align-items: center;
  }
  
  .box-title,
  .text-second-column {
    font-weight: 500;
  }
  
  .img-info {
    width: 30px;
    height: 30px;
  }
  
  .img-second-column,
  .text-second-column {
     margin-bottom: 10px;
  }
  
  .img-circle,
  .img-link {
    width: 20px;
  }
  
  .profile-text {
    flex-grow: 12;
    margin-left: 10px;
    
  }

  @media screen and (max-width: 575px) { 

.second-div {
display: flex;
flex-wrap: wrap;
}

.column-one,
.column-two {
width: 100%;
padding: 10px;
padding-top: 100px;
}

.boxes {
  width: 100%;

}

}
  
 
  
  </style>
  
  
  <div class="second-div container-div">
    <div class="column-one">
      <div class="first-text">
        <span class="resume">SERVIÇOS</span>
        <span class="resume-title">Áreas de Atuação</span>
      </div>
      <div class="box-grid">
        <div class="boxes">
          <img class="img-info2 img-info" src="../../assets/court.svg">
          <span class="box-title" >Direito Administrativo</span>
          <span class="box-text">| Consultoria e Assessoria jurídica para pessoas jurídicas e pessoas físicas
            <p>| Atuação no contencioso Administrativo e judicial por meio de Ações Civis Públicas e Ações Populares</p>
            | Consultoria e acompanhamento em processos de licitação e procedimentos administrativos nas contratações públicas, com ênfase em impugnações de editais, recursos administrativos e ações judiciais</span>
        </div>
        <div class="boxes">
          <img class="img-info4 img-info" src="../../assets/court.svg">
          <span class="box-title" >Direito Trabalhista</span>
          <span class="box-text">| Ajuizamentos ou defesas em reclamatórias trabalhistas
            <p>| Consultoria preventiva permanente, com acompanhamento do dia a dia da empresa</p>
            <p>| Defesas em autuações das Delegacias Regionais do Trabalho (DRT)</p>
            <p>| Defesas em procedimentos junto ao Ministério Público do Trabalho (MPT)</p>
            <p>| Diagnóstico Preventivo de Riscos Trabalhistas</p>
            
            </span>
        </div>
      </div>
    </div>
  </div>
  
  