
<style>
  
  .second-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 900px;
 
 
  }
  
  .column-one {
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
    height: 300px;
    flex-direction: column;
  }
  
  .column-one,
  .first-text{
    display: flex;
  }
  
  
  .resume,
  .resume-subtitle {
    color: rgb(218, 182, 67);
    font-weight: 500;
    margin-left: 10px;
  }
  
  .resume-title {
    color: rgb(19, 0, 63);
    font-size: large;
    font-weight: 700;
    margin-left: 10px;
  }
  
  .img-second-column,
  .text-second-column {
     margin-bottom: 10px;
  }

  .first-text {
    margin:10px;
  }

  @media screen and (max-width: 575px) { 

.second-div {
display: flex;
flex-wrap: wrap;
width: 100%;
}

.column-one {
width: 100%;
padding: 10px;
padding-top: 100px;
display: flex;
flex-direction: column;
}

.second-div {
  width: 100%;
}

}
  

  
  </style>
  
  <div class="second-div container-div">
    <div class="column-one">
      <div class="first-text">
        <span class="resume">Telefone:</span>
        <span class="resume-title">(32) 99965-2252</span>
      </div>
      <div class="first-text">
        <span class="resume">Email:</span>
        <span class="resume-title">cardosoaguinaldo27@gmail.com</span>
      </div>
      <div class="first-text">
        <span class="resume">Endereço:</span>
        <span class="resume-title">Av. Barão do Rio Branco, 2721 - 202 - Centro, Juiz de Fora - MG, 36010-012</span>
      </div>
    </div>

  </div>
  