
<style>

  .container-div {
   width: 100%;
  
  }
  
  
  .second-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  
  .footer-wraper {
    display: flex;
  }
  
  .column-one {
    width: 100%;
    padding: 100px;
    min-width: 1000px;
  }
  
  .boxes,
  .column-one,
  .first-text,
  .profile-text,
  .secondary-boxes {
    display: flex;
    flex-direction: column;
  }
  
  .box-grid {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .boxes {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background: white;
    -webkit-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  border-bottom: 3px solid rgb(218, 182, 67);
  }
  
  .resume,
  .resume-subtitle {
    color: rgb(218, 182, 67);
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .resume-title {
    color: rgb(19, 0, 63);
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .resume-text {
    color: rgb(35, 0, 117);
    margin-bottom: 10px;
  }
  
  .img-info,
  .box-text,
  .box-title,
  .text-second-column,
  .footer-wraper {
    margin-bottom: 10px;
    color: rgb(19, 0, 63);
  }
  
  .footer-wraper {
    align-items: center;
  }
  
  .box-title,
  .text-second-column {
    font-weight: 500;
  }
  
  .img-info {
    width: 30px;
    height: 30px;
  }
  
  .img-second-column,
  .text-second-column {
     margin-bottom: 10px;
  }
  
  .img-circle,
  .img-link {
    width: 20px;
  }
  
  .profile-text {
    flex-grow: 12;
    margin-left: 10px;
    
  }

  .box-text {
    padding-bottom: 10px;
  }

  @media screen and (max-width: 575px) { 

.second-div {
display: flex;
flex-wrap: wrap;
}

.column-one,
.column-two {
width: 100%;
padding: 10px;
padding-top: 100px;
min-width: 0px;
}

.boxes {
  width: 100%;
}

}
  
 
  
  </style>
  
  
  <div class="second-div container-div">
    <div class="column-one">
      <div class="first-text">
        <span class="resume">Serviços Oferecidos</span>
        <span class="resume-title">Direito Civil</span>
      </div>
      <div class="box-grid">
        <div class="boxes">
          <img class="img-info1 img-info" src="../../assets/court.svg">
          <span class="box-title">Direito Civil</span>
          <span class="box-text">| Contencioso Cível</span>
          <span class="box-text">| Inventários Judicial e Extrajudicial com partilha</span>
          <span class="box-text">| Direito de Propriedade e Contratual</span>
          <span class="box-text">| Elaboração, Análise e revisão de Contratos</span>
          <span class="box-text">| Responsabilidade Civil</span>
          <span class="box-text">| Dano Moral e Material</span>
          <span class="box-text">| Ususpiação Extrajudicial e Judicial</span>
          <span class="box-text">| Confissões de dívidas, Cobrança Extra e Judicial</span>
          <span class="box-text">| Consultas em Direito Civil</span> 
          <span class="box-text">| Assessoria e elaboração de contratos</span>
          <span class="box-text">| Negociação de acordos visando a solução de pendências civis e contratuais</span>
          <span class="box-text">| Patrocínio de ações reais e possessórias</span>
          <span class="box-text">| Cobrança administrativa e judicial de títulos de crédito, tais como faturas, notas promissórias, cheques e afins</span>
          <span class="box-text">| Análise, elaboração e acompanhamento de contratos em geral</span>
          <span class="box-text">| Execuções, cobranças, reparações de dano e responsabilidade civil</span>
        </div>                
      </div>
    </div>
  </div>
  
  