

<div class="main-container">
<div class="second-div container-div">
  <div class="column-two">
    <img class="img-photo" style="width:100%" src="../../assets/Logo1.png">
        <img class="img-decortion img-second-column" style="height:30px;width:30px" src="../../assets/constitution.svg">
        <span class="text-second-column">Advogado experiente e empenhado em lhe ajudar na sua causa. Ética e compromisso fazem parte na nossa atuação profissional, 
           nosso trabalho é a busca da melhor solução, conte conosco.</span>
        <div class="footer-wraper">
          <div class="profile-text">
            <span style="margin-bottom: 5px; font-weight: 600;">Aguinaldo Cardoso</span>
            <span>Advogado</span>
          </div>
          <img routerLink="profile" class="img-link" style="height:20px;width:20px; cursor: pointer;" src="../../assets/right-arrow.svg">
        </div>
  </div>
  <div class="column-one">
    <div class="first-text">
      <span class="resume">SEJA BEM VINDO</span>
      <span class="resume-title">Aprenda sobre legislação</span>
      <span class="resume-text">Você está enfrentando alguma problema legal ou a 
        procura de auxiílio sobre um tópico esfecífico? Conte conosco para lhe assessorar no assunto.</span>
        <span class="resume-subtitle"><a routerLink="services" style="text-decoration: none; color: rgb(218, 182, 67); ">SAIBA MAIS</a></span>
      </div>
      <div class="first-text">
        <span class="resume-title">Você pode estar sendo lesado por seu banco</span>
        <span class="resume-text">Cobranças não autorizadas, venda casada de serviços, falta de informação sobre produtos ou taxas abusivas, consulte nossos serviços jurídicos e saiba mais.</span>
        <span class="resume-subtitle"><a routerLink="banking" style="text-decoration: none; color: rgb(218, 182, 67); ">SAIBA MAIS</a></span>
      </div>
      <div class="box-grid">
                              <div class="boxes">
                               <img class="img-info4 img-info" src="../../assets/quotes.svg">
                               <span class="box-title" style="cursor: pointer;" routerLink="law">Sócrates</span>
                               <span class="box-text">|  "O que de caracterizar a juventude é a modéstia, o pudor, o amor,a moderação, a dedicação, a diligência, a justiça, a educação. São estás as virtudes que devem formar o seu caráter."</span>
                             </div>
                             <div class="boxes">
                               <img class="img-info4 img-info" src="../../assets/quotes.svg">
                               <span class="box-title" style="cursor: pointer;" routerLink="law">São Francisco de Assis</span>
                               <span class="box-text">|  "Comece fazendo o que é necessário, depois o que é possível, e de repente você estará fazendo o impossível."</span>
                             </div>
                             <div class="boxes">
                               <img class="img-info4 img-info" src="../../assets/quotes.svg">
                               <span class="box-title" style="cursor: pointer;" routerLink="law">Leon Tostoi</span>
                               <span class="box-text">|  "Só seremos universais se conhecermos e amarmos nossa aldeia."</span>
                             </div>
                             <div class="boxes" (click)="clickImages()">
                               <img class="img-info4 img-info" style="width: 100%; height: 100%;" src="../../assets/image.jpeg">
                             </div>
      <div class="boxes">
        <img class="img-info1 img-info" src="../../assets/quotes.svg">
        <span class="box-title" style="cursor: pointer;" routerLink="law">Barão de Montesquieu</span>
        <span class="box-text">| "Liberdade é o direito de fazer tudo o que as leis permitem."" </span> 
    </div>
      <div class="boxes">
        <img class="img-info2 img-info" src="../../assets/quotes.svg">
        <span class="box-title" style="cursor: pointer;" routerLink="law">Mahatma Gandhi</span>
        <span class="box-text">| "Só engrandecemos o nosso direito à vida cumprindo o nosso dever de cidadãos do mundo."</span>
      </div>
      <div class="boxes">
        <img class="img-info3 img-info" src="../../assets/quotes.svg">
        <span class="box-title" style="cursor: pointer;" routerLink="law">Honoré de Balzac</span>
        <span class="box-text">| "A igualdade pode ser um direito, mas não há poder sobre a Terra capaz de a tornar um fato."</span>
      </div>
      <div class="boxes">
        <img class="img-info4 img-info" src="../../assets/quotes.svg">
        <span class="box-title" style="cursor: pointer;" routerLink="law">Santo Agostinho</span>
        <span class="box-text">|  "A esperança tem duas filhas lindas, a indignação e a coragem; a indignação nos ensina a não aceitar as coisas como estão; a coragem a mudá-las."</span>
      </div>
    </div>
  </div>
</div>

<div class="third-div container-div">
  <div class="secondary-boxes">
    <img class="img-third-div" style="width:100%; height:200px; object-fit:cover;" src="../../assets/lady.jpg">
    <span class="third-div-title">Atendimento</span>
    <span class="third-div-text">Toda a nossa estrutura foi projetada e pensada para  lhe atender, proporcionando o conforto, privacidade e exclusividade.</span>
    <a></a>
  </div>
  <div class="secondary-boxes">
    <img class="img-third-div" style="width:100%; height:200px; object-fit:cover;" src="../../assets/hamer.jpg">
    <span class="third-div-title">Assistência</span>
    <span class="third-div-text">Postura ética, transparente, profissional, eficiente, extrema capacitação e reconhecimento de seus clientes pela qualidade no atendimento, constância e confiança.</span>
    <a></a>
  </div>
  <div class="secondary-boxes">
    <img class="img-third-div" style="width:100%; height:200px; object-fit:cover;" src="../../assets/pen.jpg">
    <span class="third-div-title">Consultoria</span>
    <span class="third-div-text">Auxiliamos criteriosamente os clientes, buscando e identificando, com rapidez, soluções eficazes para as demandas apresentadas.</span>
    <a></a>
  </div>
</div>
</div>

<div class="images-backgroung" (click)="clickBackground()"  [ngClass]="status ? 'show' : 'hide'">
<div class="images"><img src="../../assets/image.jpeg" ></div>
</div>