
<style>

  .container-div {
   width: 100%;
  
  }
  
  
  .second-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  
  .footer-wraper {
    display: flex;
  }
  
  .column-one {
    width: 100%;
    padding: 100px;
    min-width: 1000px;
  }
  
  .boxes,
  .column-one,
  .first-text,
  .profile-text,
  .secondary-boxes {
    display: flex;
    flex-direction: column;
  }
  
  .box-grid {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .boxes {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background: white;
    -webkit-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  border-bottom: 3px solid rgb(218, 182, 67);
  }
  
  .resume,
  .resume-subtitle {
    color: rgb(218, 182, 67);
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .resume-title {
    color: rgb(19, 0, 63);
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .resume-text {
    color: rgb(35, 0, 117);
    margin-bottom: 10px;
  }
  
  .img-info,
  .box-text,
  .box-title,
  .text-second-column,
  .footer-wraper {
    margin-bottom: 10px;
    color: rgb(19, 0, 63);
  }
  
  .footer-wraper {
    align-items: center;
  }
  
  .box-title,
  .text-second-column {
    font-weight: 500;
  }
  
  .img-info {
    width: 30px;
    height: 30px;
  }
  
  .img-second-column,
  .text-second-column {
     margin-bottom: 10px;
  }
  
  .img-circle,
  .img-link {
    width: 20px;
  }
  
  .profile-text {
    flex-grow: 12;
    margin-left: 10px;
    
  }

  .box-text {
    padding-bottom: 10px;
  }

  @media screen and (max-width: 575px) { 

.second-div {
display: flex;
flex-wrap: wrap;
}

.column-one,
.column-two {
width: 100%;
padding: 10px;
padding-top: 100px;
min-width: 0px;
}

.boxes {
  width: 100%;
}

}
  
 
  
  </style>
  
  
  <div class="second-div container-div">
    <div class="column-one">
      <div class="first-text">
        <span class="resume">Serviços Oferecidos</span>
        <span class="resume-title">Direito Bancário</span>
      </div>
      <div class="box-grid">
        <div class="boxes">
          <img class="img-info1 img-info" src="../../assets/court.svg">
          <span class="box-title">Direito Bancário</span>
          <span class="box-text">| Propositura de ações revisionais de juros e encargos abusivos constantes em contratos e operações de empréstimo, financiamentos, investimentos e outras</span>
          <span class="box-text">| Contencioso judicial</span>
          <span class="box-text">| Defesas (embargos) em ações de execução, cobrança e monitória; assessoramento direto em operações de empréstimo, financiamentos, investimentos e outras transações</span>
          <span class="box-text">| Propositura de ações de revisão contratual de cartão de crédito, cheque especial</span>
          <span class="box-text">| Negociação judicial e extrajudicial de dívidas junto as assessorias de cobrança</span>
          <span class="box-text">| Defesas em ações de busca e apreensão de veículos, caminhões e outros bens</span>
        </div>
      </div>
      <div class="first-text" style="margin-top: 20px;">
        <span class="resume">Peça Processual de Trabalho Realizado</span>
        <a href="../../assets/bancario.pdf"><span class="resume-title" style="font-style: italic;">Trabalho na Área de Direito Bancário</span></a>
      </div>
    </div>
  </div>
  
  